**/.idea/
**/__pycache__/
Notebooks/.ipynb_checkpoints/
Notebooks/Deprecated/.ipynb_checkpoints/
.env
credentials/*
images_test/*
data/*
Models/*

report/*.aux
report/*.log
report/*.out
report/*.run.xml
report/*.synctex.gz
report/*.tex.bak
report/*.bak
report/Appendices/*.aux
report/Appendices/*.bak
report/Chapters/*.aux
report/Chapters/*.bak
